In [ ]:
# Python Programming beginning

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# WAP to print "Honesty is the best policy!"
print("Honesty\nis the\nbest\npolicy")

Honesty
is the
best
policy

In [ ]:
# Use Read–eval–print loop(REPL) and print the table of 7
for i in range(1, 11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# WAP to import a module and perform operation based on it
import math

# Calculate the square root of 16
sqrt_16 = math.sqrt(16)
print(f"The square root of 16 is {sqrt_16}")

# Calculate the cosine of pi
cos_pi = math.cos(math.pi)
print(f"The cosine of pi is {cos_pi}")

# Calculate the factorial of 5
factorial_5 = math.factorial(5)
print(f"The factorial of 5 is {factorial_5}")

The square root of 16 is 4.0
The cosine of pi is -1.0
The factorial of 5 is 120

In [ ]:
# WAP to read content of a directory using os module
import os

# Specify the directory you want to create
directory = 'New_dir'

# Create the directory using os.mkdir
# Check first whether this directory already exists
if not os.path.exists(directory):
    os.mkdir(directory)

# Specify the file you want to create
file = os.path.join(directory, 'twinkle.txt')

# Write the "Twinkle Twinkle Little Star" poem into the file
with open(file, 'w') as f:
    f.write("Twinkle, twinkle, little star,\n")
    f.write("How I wonder what you are.\n")
    f.write("Up above the world so high,\n")
    f.write("Like a diamond in the sky.\n")

# Use os.listdir to get the contents of the directory
contents = os.listdir(directory)

# Print the contents
for item in contents:
    print(item)

twinkle.txt

In [ ]:
# WAP to add two numbers
Num1 = 45
Num2 = 45
Sum1 = Num1 + Num2
Sum1

90

In [ ]:
# WAP to find remainder
N1 = 78
N2 = 2
Rem = N1 % N2
Rem

0

In [ ]:
a = input("Enter a value :")
print(type(a))

Enter a value :3+4j
<class 'str'>

In [ ]:
# Use comparison operator to find which one is greater
a = 45
b = 30
if a > b:
  print("a is greater than b")
else:
  print("b is greater than a")

a is greater than b

In [ ]:
# find average of two numbers
a = 78
b = 70
print("average :", (a+b)/2)

average : 74.0

In [ ]:
# Say hello to user
Name = input("Enter your name :")
print("Hello,",Name)

Enter your name :Mira
Hello, Mira

In [ ]:
# WAP to delete double space
Str1 = "The real  beauty is in you,  Don't  search it outside. "
print(Str1)
rep = Str1.replace("  "," ")
rep

The real  beauty is in you,  Don't  search it outside.

"The real beauty is in you, Don't search it outside. "

In [ ]:
# Write a function using format string
def remove_double_spaces(s):
    while '  ' in s:
        s = s.replace('  ', ' ')
    return s

# Test the function
s = "\'  This  is  a  string  with  double  spaces  \'"
print(remove_double_spaces(s))

' This is a string with double spaces '

In [ ]:
# String format method
quotes = "Hello Everyone, this is time to be active and work hard!"
print(f"I want to say, {quotes}")
print("I want to say, {}".format(quotes))

I want to say, Hello Everyone, this is time to be active and work hard!
I want to say, Hello Everyone, this is time to be active and work hard!

In [ ]:
# String functions
string_1 = "Spirituality gives me the freedom from fear!"
print(len(string_1))
print(string_1.endswith("ear"))
print(string_1.count("f"))
print(string_1.capitalize())
print(string_1.upper())
print(string_1.lower())
print(string_1.find("me"))
print(string_1.replace("me", "you"))

44
False
3
Spirituality gives me the freedom from fear!
SPIRITUALITY GIVES ME THE FREEDOM FROM FEAR!
spirituality gives me the freedom from fear!
19
Spirituality gives you the freedom from fear!

In [ ]:
list1 = [4,"bool",7.2,3+7j,"!@#$%^&*"]
list1.index("bool")

1

In [ ]:
list2 = [5,7,78,10,6,8]
list2.sort()
print(list2)
list2.reverse()
print(list2)
list2.append(5)
print(list2)
list2.pop()
print(list2)
list2.insert(5,50)
print(list2)
list2.remove(7)
print(list2)

[5, 6, 7, 8, 10, 78]
[78, 10, 8, 7, 6, 5]
[78, 10, 8, 7, 6, 5, 5]
[78, 10, 8, 7, 6, 5]
[78, 10, 8, 7, 6, 50, 5]
[78, 10, 8, 6, 50, 5]

In [ ]:
tup1 =(4,5 + 7j,8.0, "str")
print(tup1.count(4))
print(tup1.index(4))

1
0

In [ ]:
# WAP to store 7 fruits from user
l = []
for i in range(7):
  fruit = input("Enter fruit name: ")
  l.append(fruit)
print(l)

Enter fruit name: a
Enter fruit name: b
Enter fruit name: c
Enter fruit name: d
Enter fruit name: e
Enter fruit name: f
Enter fruit name: g
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# WAP to sum all elements of a tuple and a list
L1 = [5,-7,1,0,6]
T1 = (7,0,-4,1,-3)
print("Sum of list elements:",sum(L1))
s=0
for i in range(len(T1)):
  s += T1[i]
print("Sum of tuple elements:",s)

Sum of list elements: 5
Sum of tuple elements: 1

In [ ]:
Dict1 = {"Mango":"Aam","I":"Main","You":"tum"}

In [ ]:
a=Dict1.keys()
b=Dict1.values()
c=Dict1.items()
print(a, type(a))
print(b, type(b))
print(c, type(c))

dict_keys(['Mango', 'I', 'You']) <class 'dict_keys'>
dict_values(['Aam', 'Main', 'tum']) <class 'dict_values'>
dict_items([('Mango', 'Aam'), ('I', 'Main'), ('You', 'tum')]) <class 'dict_items'>

In [ ]:
Dict1.update({"aaam":"Mango"})
Dict1

{'Mango': 'Aam', 'I': 'Main', 'You': 'tum', 'Aam': 'Mango', 'aaam': 'Mango'}

In [ ]:
Dict1.get("You")
#Dict1

'tum'

In [ ]:
Set1 = {"a","b",2.5,2,3+5j}

In [ ]:
Set2 = {7,8,5,1}
Set3 = {7,0,5,3}
Set4 = set({4,5,7,7,8})

In [ ]:
Set4.add(2)
Set4

{2, 4, 5, 7, 8}

In [ ]:
print(len(Set2))
Set2.remove(8)
print(Set2)
print(Set3.pop())
print(Set2)
Set2.clear()
print(Set2)

4
{1, 5, 7}
0
{1, 5, 7}
set()

In [ ]:
print(Set3)
print(Set4)
I = Set4.intersection(Set3)
U = Set4.union(Set3)
print(I)
U

{3, 5, 7}
{2, 4, 5, 7, 8}
{5, 7}

{2, 3, 4, 5, 7, 8}

In [ ]:
# WAP to creat a dictionary
Dictionary = {}
for i in range(5):
  Name = input("Enter your name:")
  Lang = input("Enter your langyage:")
  Dictionary.update({Name:Lang})
print(Dictionary)

Enter your name:Mira
Enter your langyage:Hindi
Enter your name:Kanha
Enter your langyage:Sanskrit
Enter your name:Radha
Enter your langyage:Sanskrit
Enter your name:Ram
Enter your langyage:Urdu
Enter your name:Sita
Enter your langyage:Hindi
{'Mira': 'Hindi', 'Kanha': 'Sanskrit', 'Radha': 'Sanskrit', 'Ram': 'Urdu', 'Sita': 'Hindi'}

In [ ]:
Dictionary = {'Mira': 'Hindi', 'Mira': 'Sanskrit', 'Radha': 'Sanskrit', 'Ram': 'Urdu', 'Sita': 'Hindi'}

print(Dictionary)

{'Mira': 'Sanskrit', 'Radha': 'Sanskrit', 'Ram': 'Urdu', 'Sita': 'Hindi'}

In [ ]:
# Set are immutable and no indexing
S = {1,"siya","5.2",5.2,3,7}
print(S)
S.pop()
S

{1, 3, '5.2', 5.2, 7, 'siya'}

{3, '5.2', 5.2, 7, 'siya'}

In [ ]:
# Check that its a spam message or not
text = ["Make lot of money","Subscribe it now","Click on this link","buy now"]
message = input("Enter a message:")
if message in text:
  print("It's a spam message")
else:
  print("It's not a spam message")

Enter a message:buy now
It's a spam message

In [ ]:
# Wap to print multiplication table using for loop
for i in range(1,11):
  print(f"5 X {i} = ",5*i)

5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50

In [ ]:
# Wap to print multiplication table using while loop
i = 1
while i<=10:
  print(f"5 X {i} = ",5*i)
  i = i+1

5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50

In [ ]:
# WAP to greet with their name stored in a list using for loop
L = ["Shiv", "Krishn", "Sita","Mira","Radha"]
for i in range(len(L)):
  a = L[i]
  print(f"Namaste {a}")

Namaste Shiv
Namaste Krishn
Namaste Sita
Namaste Mira
Namaste Radha

In [ ]:
# WAP to greet with their name stored in a list  using while loop
L = ["Shiv", "Krishn", "Sita","Mira","Radha"]
i = 0
while i < len(L):
  a = L[i]
  print(f"Namaste {a}")
  i= i+1

Namaste Shiv
Namaste Krishn
Namaste Sita
Namaste Mira
Namaste Radha

In [ ]:
# WAP to check weather number is prime number or not using for loop
N1 = 53
for i in range(2,N1):
  if N1%i == 0:
    print("It's not a prime number")

  else:
    print("It's a prime number")
  break

It's a prime number

In [ ]:
# WAP to check weather number is prime number or not using while loop
N1 = 52
i = 2
while i < N1:
  if N1%i == 0:
    print("It's not a prime number")

  else:
    print("It's a prime number")
  i=i+1
  break

It's not a prime number

In [ ]:
# WAP to find factorial of a number using for loop
N_1 = 7
sum = 1
for i in range(1,N_1+1):
  sum = sum * i

print(sum)

5040

In [ ]:
# WAP to find factorial of a number using for loop
N_1 = 5
sum = 1
i = 1
while i < N_1+1:
  sum = sum * i
  i += 1
print(sum)

120

In [ ]:
# WAP a program to print right angled traiangle using for loop

for i in range(1,7):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****
******

In [ ]:
# WAP a program to print right angled traiangle using while loop

i = 1
while i < 7:
  j = 1
  while j < i+1:
    print("*",end=" ")
    j = j+1
  i = i+1
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
# WAP a program to print equilateral traiangle using for loop

def print_triangle(n):
    for i in range(n):
        # Print leading spaces
        for j in range(n - i - 1):
            print(' ', end='')
        # Print stars
        for j in range(2 * i + 1):
            print('*', end='')
        # Move to the next line
        print()

print_triangle(5)

    *
   ***
  *****
 *******
*********

In [ ]:
# WAP a program to print equilateral traiangle using nested while loop
def print_triangle(n):
    i = 0
    while i < n:
        # Print leading spaces
        j = 0
        while j < n - i - 1:
            print(' ', end='')
            j += 1
        # Print stars
        j = 0
        while j < 2 * i + 1:
            print('*', end='')
            j += 1
        # Move to the next line
        print()
        i += 1

print_triangle(5)

    *
   ***
  *****
 *******
*********

In [ ]:
# Print Square
for i in range(1,7):
  for j in range(1,7):
    print("*",end=" ")
  print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
# hollow Square

n = 5  # size of the square
for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# Print A pattern

n = 7  # size of the pattern
for i in range(n):
    for j in range(n):
        if (j == 0 or j == n - 1) or (i == n // 2 and j > 0 and j < n - 1) or (i == 0 and j != 0 and j != n - 1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

In [ ]:
# print B pattern
n = 7  # size of the pattern
for i in range(n):
    for j in range(n):
        if (j == 0) or (j == n - 1 and (i != 0 and i != n - 1 and i != n // 2)) or ((i == 0 or i == n - 1 or i == n // 2) and j < n - 1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * *
*           *
*           *
* * * * * *
*           *
*           *
* * * * * *

In [ ]:
# Print P pattern

n = 7  # size of the pattern
for i in range(n):
    for j in range(n):
        if (j == 0) or (j == n - 1 and i < n // 2) or ((i == 0 or i == n // 2) and j < n - 1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*           *
*           *
* * * * * *
*
*
*

In [ ]:
n = 7  # size of the pattern
for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or i + j == n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
          *
        *
      *
    *
  *
* * * * * * *

In [ ]:
n = 7  # size of the pattern
for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or i == j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
  *
    *
      *
        *
          *
* * * * * * *

In [ ]:
n = 7  # size of the pattern
for i in range(n):
    for j in range(n):
        if i == j or i + j == n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [ ]:
# Write a recursion code to print and find sum of n prime numbers
def is_prime(num, i=2):
    # Base cases
    if num <= 2:
        return num == 2
    if num % i == 0:
        return False
    if i * i > num:
        return True

    # Check for next divisor
    return is_prime(num, i + 1)

def sum_of_primes(n, current=2, count=0, total=0):
    if count == n:
        return total
    elif is_prime(current):
        return sum_of_primes(n, current + 1, count + 1, total + current)
    else:
        return sum_of_primes(n, current + 1, count, total)
# Change the number to find the sum of first n primes
print("Sum of first 10 prime no. :",sum_of_primes(10))

Sum of first 10 prime no. : 129

In [ ]:
# OOPs programs

In [ ]:
# Create a class Programmer for storing information of few programmrt work at Microsoft.

class Programmer:
    def __init__(self, name, id, department, languages):
        self.name = name
        self.id = id
        self.department = department
        self.languages = languages

    def get_details(self):
        return f"Name: {self.name}, ID: {self.id}, Department: {self.department}, Languages: {''.join(self.languages)}"

In [ ]:
a = Programmer("Mira",12552,"food","eng")
a.get_details()

'Name: Mira, ID: 12552, Department: food, Languages: eng'